# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/
/.svelte-kit/
/build/
/dist/
/node_modules/
/.vscode/
/android/app/build/
/android/app/src/main/assets/
/android/.gradle/
/android/.idea/
/android/capacitor-cordova-android-plugins/build/
/android/build/
/ios/
/src/paraglide/
